/* ===== Fonts ===== */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Material Icons";
  src: url("/fonts/MaterialIcons-Regular.ttf") format("truetype");
}

/* Define a CSS variable for the font family */
html {
  --font-family: "Montserrat", sans-serif;
}

/* ===== Material Icons Styling ===== */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Font smoothing for various browsers */
  -webkit-font-smoothing: antialiased; /* WebKit */
  text-rendering: optimizeLegibility; /* Safari, Chrome */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  font-feature-settings: "liga"; /* IE */
}

/* ===== Scrollbar Styling ===== */
html::-webkit-scrollbar {
  width: 10px;
  background-clip: content-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-track {
  background: #e7e7e7;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: var(--theme-divider);
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background: #d55959;
}

/* ===== Base Body Styles ===== */
body {
  background-color: var(--theme-bg);
  color: var(--theme-text-primary);
  font-family: var(--font-family);
  font-size: 16px;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: default;
  -webkit-tap-highlight-color: transparent;

  /* Smooth background color transition when switching themes */
  transition: background-color 250ms linear;
}

/* ===== Global User Select Disable ===== */
* {
  -webkit-user-select: none; /* Safari, Chrome */
  user-select: none;
}
